<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!--Common Utility variables-->
		<add key="BASE_URL" value="https://beta.openai.com/"/>
		<add key="OPENAI_API_KEY" value="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" />
		<add key="ALLOWED_FILE_EXTENTIONS" value=".cs;.js" />

		<!--Edit code for Error and Comments-->
		<add key="EDIT_QUERY" value="Edit code for Errors insert try catch block as well as code comments" />
		<add key="CODE_FILES_PATH" value="C:\\Users\rajendra.m\Desktop\Private\Study\GitRepo\chat\codefiles\" />
		<add key="EDIT_URL" value="https://api.openai.com/v1/edits" />
		<add key="EDIT_MODEL" value="code-davinci-edit-001" />
		<add key="EDIT_TEMPRATURE" value="0" />
		<add key="EDIT_TOP_P" value="0" />
		<add key="EDIT_N" value="1" />

		<!--// Create Code for Unit Test //public const string CREATE_QUERY = "Create complete Unit Test Class";-->
		<add key="TEST_FILES_PATH" value="C:\Users\rajendra.m\Desktop\Private\Study\GitRepo\chat\testfiles\" />
		<add key="CREATE_URL" value="https://api.openai.com/v1/completions"/>
		<add key="CREATE_PROMPT" value="# Create Unit Test Class" />
		<add key="CREATE_MODEL" value="text-davinci-003" />
		<!--//"code-cushman-001"; //"code-davinci-002"; //"code-davinci-edit-001";-->
		<add key="CREATE_MAX_TOKEN" value="3000" />
		<add key="CREATE_TEMPRATURE" value="0" />
		<add key="CREATE_TOP_P" value="0" />
		<add key="CREATE_N" value="1" />
		<add key="CREATE_STREAM" value="false" />
		<add key="CREATE_LOGPROBS" value="null" />
		<add key="CREATE_STOP" value="\n" />

		<!--Error messages-->
		<add key="ERROR_WHILE_OPERATING_FILE" value=" file has issue, please check code manually." />
		<add key="SUCCESS_MESSAGE" value=" has processed sucessfully."/>

	</appSettings>
</configuration>