<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!--Common Utility variables-->
		<add key="BASE_URL" value="https://beta.openai.com/"/>
		<add key="OPENAI_API_KEY" value="XXXXXXX" />
		<add key="ALLOWED_FILE_EXTENTIONS"  value="--- Select Extention ---;All;.cs;.js;.ts" />
		<add key="OPERATIONS" value="--- Select Operation ---
			 ;# Can you write c# unit test using MSTest framework cases for given code   
			 ;Create Unit test class for given code" />
		
		<add key="CREATE_URL" value="https://api.openai.com/v1/completions"/>
		
		<add key="ERROR_FILE_PATH" value="C:\\Users\rajendra.m\Desktop\Private\Study\GitRepo\Log\LogException.txt" />
		<add key="MODEL_JSON_PATH" value="C:\\Users\rajendra.m\Desktop\Private\Study\GitRepo\Log\Model.json" />
		
	</appSettings>

	
	
</configuration>