<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!--Common Utility variables-->
		<add key="BASE_URL" value="https://beta.openai.com/"/>
		<add key="OPENAI_API_KEY" value="XXXXXX" />
		<add key="ALLOWED_FILE_EXTENTIONS"  value="--- Select Extention ---;All;.cs;.js;.ts" />
		<add key="OPERATIONS" value="--- Select Operation ---
			 ;# Can you write c# unit test cases for given code ? 
			 ;Create Unit test class for given code" />
		<add key="CREATE_URL" value="https://api.openai.com/v1/completions"/>
		<add key="ERROR_FILE_PATH" value="C:\\Users\rajendra.m\Desktop\Private\Study\GitRepo\Log\LogException.txt" />
		<add key="MODEL_JSON_PATH" value="C:\\Users\rajendra.m\Desktop\Private\Study\GitRepo\Log\Model.json" />

		<!--<add key="OPERATIONS" value="Select Operation; Write class level, method level and complexity logic level code comment ;Edit code for Errors insert try catch block as well as code comments; # Create Unit Test Class ;Insert Code Comment ;Edit error prone code ;Create Unit test case class" />-->
		<!--value="https://api.openai.com/v1/engines/codex/completions-->

		<!--Edit Code -->
		<!--<add key="EDIT_URL" value="https://api.openai.com/v1/edits" />
		<add key="EDIT_MODEL" value="text-davinci-003" />
		<add key="EDIT_TEMPRATURE" value="0" />
		<add key="EDIT_TOP_P" value="0" />
		<add key="EDIT_N" value="1" />-->

		<!--Create Code -->
		<!--<add key="CREATE_MODEL" value="code-davinci-002" /> --><!--//"code-cushman-001"; //"code-davinci-002"; //"code-davinci-edit-001";--><!--
		<add key="CREATE_MAX_TOKEN" value="8000" />
		<add key="CREATE_TEMPRATURE" value="0.2" />
		<add key="CREATE_TOP_P" value="0" />
		<add key="CREATE_N" value="1" />
		<add key="CREATE_STREAM" value="false" />
		<add key="CREATE_LOGPROBS" value="null" />
		<add key="CREATE_STOP" value="\n" />-->

		<!--Error messages-->
		
	</appSettings>

	
	
</configuration>